body {
    font-family: "Helvetica", "Arial", sans-serif;
}

.section-inner{
    width: 1024px;
    margin: 0 auto;
    display: flex;
}

.section-header{
    width: 1024px;
    margin: 0 auto;
    background-color: #f6fafd;
}
.section-header-img{
    align-self: flex-end;

}
.section-header-content{
    align-self: center;
    margin: 0 auto;
    font-size: 30px;
    font-weight: bold;
}

.section-summary{
    padding-top: 30px;
    padding-bottom: 30px;
}
.section-summary-title{
    font-size: 18px;
    font-weight: bold;
}
.section-summary-subtitle{
    text-align: justify;
    margin: 0 130px;
}

.section-skills{
    padding-top: 30px;
    padding-bottom: 30px;
}
.section-skills-title{
    font-size: 18px;
    font-weight: bold;
}
.section-skills-subtitle{
    text-align: justify;
    margin: 0 130px;
}

.section-code{
    padding-top: 30px;
    padding-bottom: 30px;
}
.section-code-title{
    font-size: 18px;
    font-weight: bold;
}
.section-code-subtitle{
    text-align: justify;
    margin: 0 150px;
}

.section-experience{
    padding-top: 30px;
    padding-bottom: 30px;
}
.section-experience-title{
    font-size: 18px;
    font-weight: bold;
}
.section-experience-subtitle{
    text-align: justify;
    margin: 0 130px;
}


.section-education{
    padding-top: 30px;
    padding-bottom: 30px;
}
.section-education-title{
    font-size: 18px;
    font-weight: bold;
}
.section-education-subtitle{
    text-align: left;
    margin: 0 130px;
}
.section-education-subtitle ul{
    list-style: none;
}

.section-english{
    padding-top: 30px;
    padding-bottom: 30px;
}
.section-english-title{
    font-size: 18px;
    font-weight: bold;
}
.section-english-subtitle{
    text-align: justify;
    margin: 0 130px;
}